<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Blog - Oleksandr Polieno</title>
		<link type="text/css" href="static/css/bootstrap.min.css" rel="stylesheet"/>
		<link type="text/css" href="static/css/bootstrap-theme.min.css" rel="stylesheet"/>
		<link type="text/css" href="static/css/font-awesome.min.css" rel="stylesheet"/>
		<link type="text/css" href="static/css/persona_icon.css" rel="stylesheet"/>
		<link type="text/css" href="static/css/style.css" rel="stylesheet"/>
		<link type="text/css" href="static/css/responsive.css" rel="stylesheet"/>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="body_back">
			<section class="left_sidebar_content_area">
				<div class="sidebar_single_module">
					<div class="sidebar_wraper">
						<div class="sidebar_inner">
							<div class="right_menu_area">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="/">Home</a></li>
									{% for year in years %}
									<li>
										<a href="#">{{ year[0] }}</a>
										<ul>
											{% for month in year[1] %}
											<li><a href="#a={{ month[1] }}">{{ month[0] }}</a></li>
											{% end %}
										</ul>
									</li>
									{% end %}
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="sidebar_single_module">
					<div class="sidebar_wraper">
						<div class="sidebar_inner">
							<div class="text_widget copy_right">
								<h2>&copy; 2014 Oleksandr Polieno</h2>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="main_content_area">
				<div id="expand_content_menu">
					<span class="icon icon-fontawesome-webfont-1"></span>
				</div>
				<div id="body_hover"></div>
				<section class="profile_area">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="profile_inner">
									<div class="profile_picture">
										<a href="#">
											<img src="static/images/nanvel.jpg" alt="title" />
										</a>
									</div>
									<h2><a href="">Oleksandr Polieno</a></h2>
									<p>Personal weblog.</p>
									<div class="social_icon">
										<a href="https://www.facebook.com/polyenoom" target="_blank" class="fa fa-facebook-square"></a>
										<a href="https://plus.google.com/u/0/+OleksandrPolyeno" target="_blank" class="fa fa-google-plus-square"></a>
										<a href="https://github.com/nanvel" target="_blank" class="fa fa-github-square"></a>
										<a href="http://ua.linkedin.com/pub/oleksandr-polyeno/54/359/239" target="_blank" class="fa fa-linkedin-square"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="home_page_post_area">
					<div class="container">
						<div class="row">
							<div class="col-md-12 js-posts">
								<div class="paginatin_area">
									<button class="btn btn-default sc_btn sc_btn_light_green sc_btn_large js-button-back">Older</button>
									<button class="btn btn-default sc_btn sc_btn_light_green sc_btn_large js-button-forvard">Newer</button>
									<button class="btn btn-default sc_btn sc_btn_light_green sc_btn_large js-button-latest">Latest</button>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
		<script type="text/javascript" src="static/js/jquery.js"></script>
		<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="static/js/main.js"></script>
	</body>
</html>